<%- layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-8 offset-2">

       </div>
    <!-- it show only one listing -->
    <h2>Listing details :</h2>
    <div class="card col-6 offset-3 mt-3 show-card">
        <img src="<%= listing.image.url%>" class="card-img-top show-image" alt="image">
        <div class="card-body">
          <p class="card-text">

            <b><%= listing.title %></b><br>
            <%= listing.description %><br>
            <%= listing.price ? '&#8377;' + listing.price.toLocaleString("en-IN") : 'Price not available' %><br>
            <%= listing.location %><br>
            <%= listing.country %><br>   
        </p>
        </div>
    </div>

    <div class="btns offset-3">
    <a href="/listing/<%= listing._id %>/edit"class="btn btn-dark edit-btn">Edit</a>
     
    
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-4">Delete</button>
        </form>
    
    
</div>

