<%- layout("/layouts/boilerplate.ejs") %>
<!-- //show listing -->

    <div class="row">
        <div class="col-8 offset-2">

       </div>
    <!-- it show only one listing -->
    <h2><b><%= listing.title %></b></h2></div>
    <div class="card col-6 offset-3 mt-3 show-card listing-card">
        <img src="<%= listing.image.url%>" class="card-img-top show-image" alt="image">
        <div class="card-body">
          <p class="card-text">

            <br>
            <%= listing.description %><br>
            <%= listing.price ? '&#8377;' + listing.price.toLocaleString("en-IN") : 'Price not available' %><br>
            <%= listing.location %><br>
            <%= listing.country %><br>   
        </p>
        </div>
    </div>

    <div class="btns offset-3">
    <a href="/listings/<%= listing._id %>/edit"class="btn btn-dark edit-btn">Edit</a>
     
    
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-4">Delete</button>
        </form>
    
    
</div>

 <div class="col-8  offset-3 mb-3">
    <hr>
    <h4>Leav a review</h4>
    <form  method="POST" action="/listings/<%=listing.id %>/reviews"  novalidate class="needs-validation">

        <div class="mb-3 mt-3">
            <label for="rating"class="form-lable">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"/>
        </div>

        <div class="mb-3 mt-3"><label for="comment form-lable">comments</label>
                <textarea name="review[comment]" 
                id="comment"
                 cols="30"
                 rows="5"
                 class="form-control"
                 required 
                 ></textarea>
                 <div class="invalid-feedback">
                    place fill the comment
                 </div>
        </div>
        <button class="btn btn-outline-dark">submit</button>
    </form>
   <hr />
  <p>All Reviews</p>
  <div class="row">
    <ul>
    <% for(review of listing.reviews){ %>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
               <h5 class="card-title">vishal</h5>
                <p class="card-text"><%=review.comment %></p>
                <p class="card-text"><%= review.rating  %>Star</p>
            </div>
            <form class="mb-3" method="post"action="/listings/<%=listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
        </div>
    </ul>
    <% } %>
    </div>
 </div>
 </div>